<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bfcai.islamy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="إسلامي"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Islamy">
        <activity android:name=".Screens.MainScreen.Stories.Components.EditStoryActivity"></activity>
        <activity android:name=".Screens.MainScreen.SebhaActivity" />
        <activity android:name=".Screens.MainScreen.QiblahActivity" />
        <activity android:name=".Screens.MainScreen.Quran.PdfOpner" />
        <activity android:name=".Screens.MainScreen.Quran.Qraan" />
        <activity android:name=".Screens.DrawerScreen.azkarElmasaa" />
        <activity android:name=".Screens.DrawerScreen.azkarElsabah" />
        <activity android:name=".Screens.DrawerScreen.MalomatActivity" />
        <activity android:name=".Screens.MainScreen.azkarActivity" />
        <activity
            android:name=".Screens.DrawerScreen.TasabyhActivity"
            android:label="@string/title_activity_tasabyh"
            android:theme="@style/Theme.Islamy.NoActionBar" />
        <activity android:name=".Screens.DrawerScreen.adayaActivity" />
        <activity android:name=".Screens.MainScreen.Notes.Components.UpdateNotesActivity" />
        <activity android:name=".Screens.MainScreen.Notes.Components.AddNotesActivity" />
        <activity android:name=".Screens.MainScreen.Notes.NoteHomeActivity" />
        <activity android:name=".Screens.WelcomeScreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Screens.WelcomeScreen.OnboardingActivity" />
        <activity android:name=".Screens.MainScreen.Stories.Components.storyDetailsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Screens.MainScreen.Stories.StoriesActivity" />
        <activity android:name=".Screens.MainScreen.Stories.Components.addPostActivity" />
        <activity android:name=".MainActivity" />

        <service android:name=".Service.FirebasePushNotificationClass">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>
    </application>

</manifest>